<footer class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <h3 style="font-family: 'Bebas Neue'; font-weight: 400;">Taekwondo Garuda Club</h3>
                <p>Mari Bersenang - senang di taekwondo Insha Allah Bonusnya Prestasi</p>
                <div class="uk-flex uk-flex-middle uk-margin-small-top">
                    <a href="#" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter"></a>
                    <a href="#" class="uk-icon-button uk-margin-small-right" uk-icon="icon: facebook"></a>
                    <a href="#" class="uk-icon-button" uk-icon="icon: instagram"></a>
                </div>
            </div>
            <div>
                <h3 style="font-family: 'Bebas Neue'; font-weight: 400;">Tautan Cepat</h3>
                <ul class="uk-list">
                    <li><a href="{{ url_for('index') }}">Beranda</a></li>
                    <li><a href="{{ url_for('about') }}">Tentang Kami</a></li>
                    <li><a href="{{ url_for('products') }}">Produk</a></li>
                    <li><a href="{{ url_for('blog') }}">Blog</a></li>
                </ul>
            </div>
            <div>
                <h3 style="font-family: 'Bebas Neue'; font-weight: 400;">Hubungi Kami</h3>
                <ul class="uk-list">
                    <li><span uk-icon="icon: location"></span> Jl. Gurame perum karawaci kota tangerang</li>
                    <li><span uk-icon="icon: phone"></span> 0881-2329-449</li>
                    <li><span uk-icon="icon: mail"></span> garudaclubofficial@gmail.com</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="uk-text-center">© 2025 Taekwondo Garuda Club. All Rights Reserved.</p>
    </div>
</footer>